/* Element Level */
body{
    padding-top:85px;
}
button{
    margin: 0 auto;
}

/* Class Level */
.btn{
    font-size: 0.7rem
}
.hidden{
    display: none;
}
.fixed{
    position: fixed;
    z-index: 5;
}
img.resize {
    padding:0px;
    max-width:25vw;
    max-height:180px;
}
img.managerResize{
    padding:0px;
    max-width:75px;
    max-height:75px;
}
img.cartSize{
    max-width:90px;
    max-height:90px;
}
.center{
    text-align: center;
}
.centerBox{
    display: flex;
  align-items: center;
  justify-content: center;
}
.col-7{
    padding : 0px 20px;
}
.itemContainer{
    border-bottom:solid grey 1px;
    /* padding-top:10px; */
}
.delBtn{
    padding: 0px 5px;
    font-size: 15px;
}
.flRight{
    float: right;
}
.productInfo{
    padding:0px;
}
.left35{
    padding-left: 35px;
}

/* ID Level */

#itemsDump{
    margin:0px 10%;
}
#subTotal{
    padding-left: 7px;
}
#navLogo{
    max-height: 60px;
}
#siteNav{
    background-color: #f8f9fa;
    font-size: 15px;
    height: 100vh;
}
#managerContainer{
    padding-top: 1px;
    margin:0px;
}
#boxIcon{
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 5px;
}
#bars{
    margin-left: 10px;
}
#leftGap{
    margin:10px;
}
#addBar,#upBar,#deleteBar{
    z-index: 1031;
    top:20px;
    margin:5px 0px;
}
#deleteBar{
    margin-left:23%;
}
#upBar{
    margin-left: 17%;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
    height: 0.9rem;
}
#managerLogin{
    position: fixed;
    right:10px;
    bottom: 0px;
    font-size: 0.8rem;
}
#cartIcon{
    font-size: 1.3rem;
}
#numInCart{
    font-size: 1rem;
}
@media screen and (max-width:767px){
    h3{
        font-size: 1.3rem;
    }
    h5{
        font-size: 1rem;
    }
    h6{
        font-size: 0.8rem;
    }
    #footerText{
        display: none;
    }
}