/* Element Level */
body{
    padding-top:85px;
}

button{
    margin: 0 auto;
}


/* Class Level */
.hidden{
    display: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f8f9fa;
    text-align: center;
}

img.resize {
    padding:0px;
    max-width:180px;
    max-height:180px;
}

img.managerResize{
    padding:0px;
    max-width:75px;
    max-height:75px;
}

img.cartSize{
    max-width:90px;
    max-height:90px;
}

.center{
    text-align: center;
}
.centerBox{
    display: flex;
  align-items: center;
  justify-content: center;
}
.col-7{
    padding : 0px 20px;
}
.itemContainer{
    border-bottom:solid grey 1px;
    padding-top:10px;
}
.delBtn{
    padding: 0px 5px;
    font-size: 15px;
}
.flRight{
    float: right;
}
.productInfo{
    padding:0px;
}
.left35{
    padding-left: 35px;
}

/* ID Level */

#itemsDump{
    margin:0px 10%;
}
#subTotal{
    padding-left: 7px;
}
#navLogo{
    max-height: 60px;
}
#siteNav{
    background-color: #f8f9fa;
    font-size: 15px;
    height: 100vh;
}
#managerContainer{
    padding-top: 1px;
    margin:0px;
}
#boxIcon{
    font-size: 25px;
    padding-top: 100px;
    padding-bottom: 5px;
}
#bars{
    margin-left: 10px;
}
#deleteBar{
    margin:5px 30%;
}
#upBar{
    margin:5px 10%;
}
#addBar{
    margin-top: 5px;
    margin-bottom: 5px;
}